@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
    display: none;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #f8fafc inset;
  -webkit-text-fill-color: #000;
  transition: background-color 5000s ease-in-out 0s;
}
